mixin right-sitebar()
    +authorization()
mixin authorization()
    .authorization
        .row
            form(action="#" class="navbar-form")
                .form-group
                    input(type="text" class="form-control" placeholder="E-mail" value="")
                .form-group
                    input(type="password" class="form-control" placeholder="Password" value="")
                button(type="submit" class="btn btn-success") 
                    i(class="fa fa-sign-in") 
                    span Войти
mixin basket
    .basket(class="authorization")
        p В корзине
        p 
            span(class="basket-col") 0 
            span наименований        
        p товаров
        a(href="basket.html" class="btn btn-success") 
            i(class="fa fa-sign-in") 
            span Корзина
