.authorization{
    background-color: #E0E0E0;
    margin: 10% 0 10% 0;
    border-radius: 5px;
    padding: 5px;
    max-width: 180px;
    border: solid 1px gray;
    @media only screen and (max-width: 750px){
    background-color: white;
    }
    .form-group{
        margin: 2%;
        input{
            width: 100%;
        }
    }
}
.navbar-form{
    button{
        margin-left: 2%;
        i{
            margin-right: 5%;
        }
    }
}
.basket{
    a{
        margin-left: 2%;
        i{
            margin-right: 5%;
        }
    }
}
#content-authorization{
    display: none;
    padding-left: 10%;
}
.basket-col{
    font-size: 20px;
    color: blue;
}
