.left-sitebar{
    text-align: left;
    padding-top: 10%;
    nav{
        p{
            font-style: italic;
            font-size: 16px;
        }
            li{
                font-style: normal;
        }
    }
}
