mixin left-sitebar()
    div(class="left-sitebar")
        nav 
            p Компьютеры
            ul 
                li
                    a(href="#") Ноутбуки
                li
                    a(href="#") Мониторы
                li
                    a(href="#") Клавиатуры
                li
                    a(href="#") Мышы
                li
                    a(href="#") Колонки
                li
                    a(href="#") Комплектующие
                li
                    a(href="#") Корпуса
            p Бытовая электроника        
            ul 
                li
                    a(href="#") Телевизоры
                li
                    a(href="#") Тюнеры
            p Электротехника
            ul 
                li
                    a(href="#") Микроволновые печи
                li
                    a(href="#") Стиральные машины
                li
                    a(href="#") Холодильники
                li
                    a(href="#") Пылесосы
                li
                    a(href="#") Блендеры
                li
                    a(href="#") Миксеры
                    
            p Радиокомпоненты 
            ul
                li
                    a(href="#") Пассивные компоненты
                li
                    a(href="#") Макетирование
                li
                    a(href="#") Модули
                li
                    a(href="#") Микроконтроллеры
                li
                    a(href="#") Микросхемы
                li
                    a(href="#") Датчики
                li
                    a(href="#") Паяльное оборудование
    
    

    
