mixin search_dir
    ._search_dir
        form(action="#" class="navbar-form _search_form")
            .form-group
                input(type="text" class="form-control" placeholder="" value="")
            button(type="submit" class="btn btn-default") 
                i(class="fa fa-sign-in") 
                span Поиск в дирректории
