footer{
    background-color: gray;
    padding: 5px;
    div{
        color: white;
        margin-bottom: 5px;
        p{
            font-style: italic;
            font-size: 12px;
        }
        a{
            color: white;
        }
    }
}
._footer_menu{
    text-align: center;
}
