mixin footer
    footer
        .container
            .row
                div(class="col-lg-4 col-md-4 col-sm-4 hidden-xs ")
                    ul
                        li
                            a(href="#") link_1
                div(class="col-lg-4 col-md-4 col-sm-4 hidden-xs ")
                        p Lorem ipsum dolor sit amet. Sint et molestiae non recusandae enim ipsam. Maxime placeat, facere   possimus, omnis dolor sit. Placeat, facere possimus, omnis iste natus error sit voluptatem sequi    nesciunt. Obcaecati cupiditate non numquam eius modi tempora incidunt, ut perspiciatis unde
                div(class="col-lg-4 col-md-4 col-sm-4 hidden-xs ")
                    ul
                        li
                            a(href="#") link_1
                +navigator_footer            
mixin navigator_footer()
    .container
        .row
            ._footer_menu
                div(class="btn-group btn-breadcrumb")
                    a(href="#" class="btn btn-default") 
                        i(class="fa fa-home")
                    a(href="#" class="btn btn-default") Компьютеры
                    a(href="#" class="btn btn-default") Бытовая электроника
                    a(href="#" class="btn btn-default") Эллектротехника   
                    a(href="#" class="btn btn-default") Радиокомпонетны
                    a(href="#" class="btn btn-default") Ардуино
                    a(href="#" class="btn btn-default") Карта сайта
                
                
