
.main-menu{
    background-color: #0168AB;
}
._categoty_nav{
    background-color: $content-bg-color;
    border: solid 1px $border-color-content;
    border-radius: 5px;
    padding: 1%;
    a{
        font-style: italic;
        margin-top: 2px;
    }
}
