mixin navigator()
    .container(class="main-menu")
        .row
            div(class="btn-group btn-breadcrumb")
                a(href="index.html" class="btn btn-primary")
                    i(class="fa fa-home")
                a(href="computers.html" class="btn btn-primary") Компьютеры
                a(href="consumer_el.html" class="btn btn-primary") Бытовая электроника
                a(href="engineering.html" class="btn btn-primary") Эллектротехника   
                a(href="radio.html" class="btn btn-primary") Радиокомпонетны
                //a(href="#" class="btn btn-primary") Ардуино
                a(href="registration_form.html" class="btn btn-success") Регистрация
                a(href="#" class="btn btn-success") Вход
                a(href="#" class="btn btn-primary") Карта сайта
mixin category_navigator_comps(l1,l2,l3,l4,l5,l6,l7,l8,l9,l0)            
    div(class="btn-group btn-breadcrumb _categoty_nav")
        a(href="#" class="btn btn-default")= l1 
        a(href="#" class="btn btn-default")= l2
        a(href="#" class="btn btn-default")= l3 
        a(href="#" class="btn btn-default")= l4
        a(href="#" class="btn btn-default")= l5 
        a(href="#" class="btn btn-default")= l6 
        a(href="#" class="btn btn-default")= l7 
        a(href="#" class="btn btn-default")= l8 
        a(href="#" class="btn btn-default")= l9  
mixin category_navigator_consumer(l1,l2)            
    div(class="btn-group btn-breadcrumb _categoty_nav")
        a(href="#" class="btn btn-default")= l1 
        a(href="#" class="btn btn-default")= l2
mixin category_navigator_engineering(l1,l2,l3,l4,l5,l6)            
    div(class="btn-group btn-breadcrumb _categoty_nav")
        a(href="#" class="btn btn-default")= l1 
        a(href="#" class="btn btn-default")= l2
        a(href="#" class="btn btn-default")= l3 
        a(href="#" class="btn btn-default")= l4
        a(href="#" class="btn btn-default")= l5 
        a(href="#" class="btn btn-default")= l6 
mixin category_navigator_radio(l1,l2,l3,l4,l5,l6,l7)            
    div(class="btn-group btn-breadcrumb _categoty_nav")
        a(href="#" class="btn btn-default")= l1 
        a(href="#" class="btn btn-default")= l2
        a(href="#" class="btn btn-default")= l3 
        a(href="#" class="btn btn-default")= l4
        a(href="#" class="btn btn-default")= l5 
        a(href="#" class="btn btn-default")= l6 
        a(href="#" class="btn btn-default")= l7
