mixin detail()
    section(class="detail_main")
        h3 GPD Pocket 27 дюймов мини-ноутбук UMPC
        p Quo voluptas nulla vero eos et accusamus. Voluptatibus maiores alias consequatur. Illum, qui blanditiis praesentium voluptatum deleniti atque corrupti. Dicta sunt, explicabo dolore magnam aliquam quaerat voluptatem accusantium doloremque laudantium totam. Optio, cumque nihil molestiae consequatur, vel eum iure reprehenderit.
        .detail_segment
            h4 Характеристики
            .row
                .col-lg-6(class="col-md-6 col-sm-6")
                    .parametr_row
                        .parametr 
                            p Бренд
                        .parametr 
                            p GPD
                        .parametr 
                            p Тип
                        .parametr 
                            p Ноутбук
                        .parametr 
                            p Соотношение сторон
                        .parametr 
                            p 16 : 10
                        .parametr 
                            p Видеокарта
                        .parametr 
                            p Intel(R) HD 
                        .parametr 
                            p Расширение дсплея
                        .parametr 
                            p 1900 x 1200
                .col-lg-6(class="col-md-6 col-sm-6")
                    .parametr_row
                        .parametr 
                            p Толщина
                        .parametr 
                            p 10 - 18мм
                        .parametr 
                            p вес
                        .parametr 
                            p 0,48кг
                        .parametr 
                            p Тип диска
                        .parametr 
                            p EMMC
                        .parametr 
                            p Емкость диска
                        .parametr 
                            p 128Гб
                        .parametr 
                            p Операционная система
                        .parametr 
                            p Windows 10
        .detail_segment
            p Quo voluptas nulla vero eos et accusamus. Voluptatibus maiores alias consequatur. Illum, qui blanditiis praesentium voluptatum deleniti atque corrupti. Dicta sunt, explicabo dolore magnam aliquam quaerat voluptatem accusantium doloremque laudantium totam. Optio, cumque nihil molestiae consequatur, vel eum iure reprehenderit.
            .detail_img
                img(src="img/computers/laptop/exemple_1/detail_1.jpg" alt="detail_1")
        .detail_segment
            p Quo voluptas nulla vero eos et accusamus. Voluptatibus maiores alias consequatur. Illum, qui blanditiis praesentium voluptatum deleniti atque corrupti. Dicta sunt, explicabo dolore magnam aliquam quaerat voluptatem accusantium doloremque laudantium totam. Optio, cumque nihil molestiae consequatur, vel eum iure reprehenderit.
            .detail_img
                img(src="img/computers/laptop/exemple_1/detail_2.jpg" alt="detail_1")
        .detail_segment
            p Quo voluptas nulla vero eos et accusamus. Voluptatibus maiores alias consequatur. Illum, qui blanditiis praesentium voluptatum deleniti atque corrupti. Dicta sunt, explicabo dolore magnam aliquam quaerat voluptatem accusantium doloremque laudantium totam. Optio, cumque nihil molestiae consequatur, vel eum iure reprehenderit.
            .detail_img
                img(src="img/computers/laptop/exemple_1/detail_3.jpg" alt="detail_1")
        .detail_segment
            p Quo voluptas nulla vero eos et accusamus. Voluptatibus maiores alias consequatur. Illum, qui blanditiis praesentium voluptatum deleniti atque corrupti. Dicta sunt, explicabo dolore magnam aliquam quaerat voluptatem accusantium doloremque laudantium totam. Optio, cumque nihil molestiae consequatur, vel eum iure reprehenderit.
            .detail_img
                img(src="img/computers/laptop/exemple_1/detail_4.jpg" alt="detail_1")
        .detail_segment
            p Quo voluptas nulla vero eos et accusamus. Voluptatibus maiores alias consequatur. Illum, qui blanditiis praesentium voluptatum deleniti atque corrupti. Dicta sunt, explicabo dolore magnam aliquam quaerat voluptatem accusantium doloremque laudantium totam. Optio, cumque nihil molestiae consequatur, vel eum iure reprehenderit.
            .detail_img
                img(src="img/computers/laptop/exemple_1/detail_5.jpg" alt="detail_1")
        .detail_segment    
            .exemple-minor_img 
                div
                    button(type="submit" class="btn btn-success") 
                        span Купить
                    button(type="submit" class="btn btn-success") 
                        span Корзина
                p            
                    button Перейти к оформлению 

        
        
        
        
        
        
        
        
        
