.detail_main{
    border: solid 1px $border-color-content;
    padding: 0 1% 1% 1%;
    border-radius: 5px;
    //display: none;
    margin-bottom: 5%;
}
.parametr{
    background-color: $content-bg-color;
    margin: 1px 2px;
    padding: 2px;
    padding-left: 2%;
    font-style: italic;
    display: inline-block;
    width: 45%;
}
.detail_img{
    img{
        width: 100%;
        height: auto;
    }
}
