.product_exemple{
    h5{
        text-align: left;
        font-size: 16px;
        font-style: italic;
        font-weight: bold 100;
        padding: 1%;
    }
    padding: 1%;
    border: solid 1px $border-color-content;
    background-color: $content-bg-color;
    border-radius: 5px;
    margin-bottom: 2%;
    div{
        margin-bottom: 2%;
        span[class='code']{
            color: darkred;
            font-size: 16px;
        }
    }
}
.product_exemple-block{
    margin-left: 0;
    margin-right: 0;
}
.product-status{
    color: darkgreen;
    font-size: 18px;
}
.exemple_description{
    font-size: 12px;
}
.exemple_main_img{
    background-color: white;
    height: 18em;
    padding-top: 2%;
    @media only screen and (max-width: 420px){
    height: 23em;
    }
}
.exemple-main_img{

    max-width: 80%;
    margin: 0 auto;
    @media only screen and (max-width: 1200px){
        max-width: 60%;
    }
    @media only screen and (max-width: 990px){
        max-width: 58%;
    }
    @media only screen and (max-width: 770px){
        max-width: 35%;
    }
    @media only screen and (max-width: 600px){
        max-width: 45%;
    }
    @media only screen and (max-width: 500px){
        max-width: 60%;
    }
    @media only screen and (max-width: 420px){
        max-width: 90%;
    }
    img{
        width: 100%;
        height: auto;
    }
}
.exemple-main_img>img:hover{

        border: solid 1px white;
        border-color: $content-bg-color;

        animation-name: scaling;

        animation-duration: 3s;
        animation-fill-mode: forwards;
        //animation-delay: 0.5s; /* Задержка */
        position: absolute;
        opacity: 1;
        z-index: 10;
}
    @keyframes scaling {
        to{
                transform: scale(2);
        }
    }
.minor_img-block{
    p{
        padding-top: 2%;
    }
}
.exemple-minor_img{
    display: inline;
    div{
        text-align: right;
        margin-top: 2%;
        a{
            width: 100px;
            margin-right: 1%;
        }
    }
}
.exemple_price{
    font-style: normal;
    color: darkgreen;
    font-size: 2em;
    padding-left: 5%;
}
.exemple-basket_buttons{
    display: inline;
    div{
        text-align: right;
        margin-top: 2%;
        a{
            width: 100px;
            margin-right: 1%;
        }
    }
}
