mixin product_exemple(id,ex_title, status, code, category, sub_category, d_1, d_2, src, alt, src1, big_1, src2, big_2, src3, big_3, src4, big_4, src5, big_5, price)
    .product_exemple(id=id)
        a(href="product_detail.html")
            h5= ex_title 
        .row(class="product_exemple-block")
            div(class="col-lg-6 exemple_main_img") 
                .exemple-main_img(id="exp_"+id)
                    img(src=src alt="big_1")
            div(class="col-lg-6")
                p(class="product-status")= status
                p Код: 
                    span(class="code")= code
                        a(href="#")= category
                            span
                        a(href="#")= sub_category    
                            span
                p(class="exemple_description")= d_1 
                p(class="exemple_description")= d_2 
                span(class="exemple_price")= price
                
        .minor_img-block    
            .exemple-minor_img
                a(href=big_1)
                    img(src=src1 alt="min_2")
            .exemple-minor_img
                a(href=big_2)
                    img(src=src2 alt="min_3")
            .exemple-minor_img
                a(href=big_3)
                    img(src=src3 alt="min_4")
            .exemple-minor_img
                a(href=big_4)
                    img(src=src4 alt="min_5")
            .exemple-minor_img
                a(href=big_5)
                    img(src=src5 alt="min_5")
            .exemple-basket_buttons 
                div
                    a(href="basket.html" class="btn btn-success") 
                        span Купить
                    a(href="basket.html" class="btn btn-success") 
                        span Корзина
            p            
                a(href="basket.html" class="btn btn-default") Перейти к оформлению 
