include head/head
include header/header
include navigator/navigator
include content/content
include content/main_content
include left_sitebar/left_sitebar
include right_sitebar/right_sitebar
include footer/footer


doctype html
html(lang="ru")
    head
        +head("Elecronics main")
    body
        +content
        script( src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
        //  src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"
        script(src ="js/libs.min.js")    
        script(src ="js/bootstrap.js")    
        script(src ="js/main.js")    
