include head/head
include header/header
include navigator/navigator
include content/content_product
include search_dir/search_dir
include product_exemple/product_exemple
include product_exemple/detail
include left_sitebar/left_sitebar
include right_sitebar/right_sitebar
include footer/footer


doctype html
html(lang="ru")
    head
        +head("Elecronics computers")
    body
        +content_product()
        script( src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
        //  src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"
        script(src ="js/libs.min.js")    
        script(src ="js/bootstrap.js")    
        script(src ="js/main.js")  
