mixin registration
    div(class=" _registration-description")
        ._registration-form    
            h3 Форма регистрации на сайте
            p Регистрация полностью бесплатна и нужна для более удобной последующей авториации на сайте,  а так же для выяснения адреса доставки вывбранного Вами товара. Заполните соответствующия поля формы и нажмите на кнопку "Вперед", после чего передите в Ваш почтовый ящик, указанный при заполнении формы и подтвердите регистрацию пройдя по соответствующей ссылке.
            form(name="registration" action="<?=$_SERVER['REQUEST_URI']?>" method="post")
                .form-group
                    p Как Вас зовут
                    input(class="form-control" input="input" type="text" name="name" placeholder="ФИО или просто имя")
                .form-group 
                    p Ваш e-mail
                    input(class="form-control" input="input" type="text" name="e-mail" placeholder="myemail@gmail.com")
                .form-group 
                    p Номер вашего мобильного телефона
                    input(class="form-control" input="input" type="text" name="phone" placeholder="+38 067 25 25 250")
                .form-group 
                    p Придумайте пароль
                    input(class="form-control" input="input" type="password" name="password_copy" placeholder="")
                .form-group 
                    p Введите пароль повторно
                    input(class="form-control" input="input" type="password" name="password" placeholder="")
        .modal-footer
            input(class="btn btn-success" type="submit" name="registration" value="Вперед") 
