._registration-description{
    font-style: italic;
    border: solid 1px $border-color-content;
    border-radius: 5px;
    background-color: $content-bg-color;
    margin-top: 3%;
    margin-bottom: 3%;
}
._registration-form{
    color: #0379FF;
    padding: 1% 10%;
    h3{
        color: gray;
    }
    p{
        font-style: italic;
        margin-bottom: 5px;
    }
}
._registration_message{
    position: absolute;
    top: 17%;
    width: 100%;
    div{
        background-color: #E8FFBE;
        padding: 2%;
        max-width: 80%;
        margin: 0 auto;
        border: solid 1px gray;
        border-radius: 5px;
        text-align: center;
        font-size: 2em;
        opacity: 0.9;
        p[class="r_green"]{
            color: green;
        }
        p[class="r_red"]{
            color: red;
        }

    }

}
