mixin header (name, page)
    div(class="temp") Сайт находится в стадии разработки!
    div(class="main-header")
        h1(id="h1-proba" class="_header")= name
        h1(id="h2-proba" class="_header")= page
        h3 Бытовая эллектроника   
        h3 Радиокомпонетны  
        .header_enter
            div Вход не выполнен
         
