mixin content_basket()
    +header("Компьютеры и комлектующие", "ЭЛЛЕКТРОНИКА")
    nav(class="main-menu")
        +navigator()
    .container(class="main-content")
        .row
            div(class="col-lg-3 col-md-3 col-sm-4 hidden-xs ")
                +left-sitebar()
            div(class="col-lg-7 col-md-6 col-sm-8  ")
                div(id="content-authorization")
                    +authorization
                h3 КОРЗИНА    
                +basket-title()    
                +basket-all()    
                +basket-all()    
                +basket-all()    
                +basket-all()
                +basket-result()
                +basket-buttons()    
            div(class="col-lg-2 col-md-3 hidden-sm hidden-xs")
                +right-sitebar()
                +basket
    +footer
mixin basket-title()
    .basket(class="basket_title")
        .basket_exemple
            p ФОТО
        .basket_exemple
            p НАЗВАНИЕ
        .basket_exemple
            p КОД
        .basket_exemple
            p КОЛ-ВО
        .basket_exemple
            p ЦЕНА
        .basket_exemple
            p ОБНОВИТЬ
mixin basket-all()                
    .basket
        .basket_exemple
            img(src="img/computers/laptop/exemple_1/min-lp2.png" alt="basket_exemple")
        .basket_exemple
            p Ноутбук GPD
        .basket_exemple
            p C_00001 
        .basket_exemple
            p 
                input(type="text" name="amount")
        .basket_exemple
            p(class="price") $120
        .basket_exemple
            p
                button Обновить
mixin basket-result()
    .basket(class="basket_result")
        .basket_exemple
            p Итого
        .basket_exemple
            p $480
mixin basket-buttons()
    .basket(class="basket_result")
        .basket_exemple
            button Пересчитать
        .basket_exemple
            button Очистить
        .basket_exemple
            a(class="btn btn-danger") ОФОРМИТЬ
    
