mixin content_computers()
    +header("Компьютеры и комлектующие", "ЭЛЛЕКТРОНИКА")
    nav(class="main-menu")
        +navigator()
    .container(class="main-content")    
        .row 
            div(class="col-lg-3 col-md-3 col-sm-4 hidden-xs ")
                +left-sitebar()
            div(class="col-lg-7 col-md-6 col-sm-8  ")
                div(id="content-authorization")
                    +authorization
                .input_private    
                    a(href="private.html") Личный кабинет
                h2 Компьютеры и комплектующие 
                +category_navigator_comps("Ноутбуки",
                                        "Мониторы",
                                        "Клавиатуры",
                                        "Мышы",
                                        "Колонки",
                                        "Комплектующие",
                                        "Корпуса",
                                        "Системные блоки",
                                        "Блоки питания" 
                                        )
                +search_dir() 
                +core
            div(class="col-lg-2 col-md-3 hidden-sm hidden-xs")
                +right-sitebar()
                +basket
    +footer 
mixin core()
    h3 Ноутбуки
    +product_exemple("000001"," Новый оригинальный GPD Pocket2 Мини ноутбук UMPC Windows 10 Процессор m3-8100y 8 ГБ", 
    /* наличие */       " В наличии",
                        " 000001 ",
                        " BREND ",
                        " Ноутбуки ",
                        "Lorem ipsum dolor sit amet. Excepturi sint, obcaecati cupiditate non numquam eius   modi tempora incidunt, ut aliquid. ",
                        "Lorem ipsum dolor sit amet.  ",
                            "img/computers/laptop/exemple_1/lp1.png",
                            "big_1",
                            "img/computers/laptop/exemple_1/min-lp2.png",
                            "img/computers/laptop/exemple_1/lp2.png",
                            "img/computers/laptop/exemple_1/min-lp3.png",
                            "img/computers/laptop/exemple_1/lp3.png",
                            "img/computers/laptop/exemple_1/min-lp4.png",
                            "img/computers/laptop/exemple_1/lp4.png",
                            "img/computers/laptop/exemple_1/min-lp5.png",
                            "img/computers/laptop/exemple_1/lp5.png",
                            "img/computers/laptop/exemple_1/min-lp1.png",
                            "img/computers/laptop/exemple_1/lp1.png",
                            "$120"
                             )
    +product_exemple("000002"," Новый оригинальный GPD Pocket2 Мини ноутбук UMPC Windows 10 Процессор m3-8100y 8 ГБ", 
    /* наличие */       " В наличии",
                        " C_000002 ",
                        " HP ",
                        " Ноутбуки ",
                        "Lorem ipsum dolor sit amet. Excepturi sint, obcaecati cupiditate non numquam eius   modi tempora incidunt, ut aliquid. ",
                        "Lorem ipsum dolor sit amet.  ",
                            "https://i2.rozetka.ua/goods/10844856/hp_255_g6_2hg90es_images_10844856333.jpg",
                            "big_1",
                            "https://i2.rozetka.ua/goods/2289380/copy_hp_255_g6_2hg83es_59ede863b3485_images_2289380108.jpg",
                            "https://i2.rozetka.ua/goods/2289380/copy_hp_255_g6_2hg83es_59ede863b3485_images_2289380052.jpg",
                            "https://i2.rozetka.ua/goods/2289380/copy_hp_255_g6_2hg83es_59ede863b3485_images_2289380199.jpg",
                            "https://i1.rozetka.ua/goods/2289380/copy_hp_255_g6_2hg83es_59ede863b3485_images_2289380143.jpg",
                            "https://i2.rozetka.ua/goods/2289380/copy_hp_255_g6_2hg83es_59ede863b3485_images_2289380290.jpg",
                            "https://i1.rozetka.ua/goods/2289380/copy_hp_255_g6_2hg83es_59ede863b3485_images_2289380227.jpg",
                            "https://i1.rozetka.ua/goods/2289380/copy_hp_255_g6_2hg83es_59ede863b3485_images_2289380381.jpg",
                            "https://i1.rozetka.ua/goods/2289380/copy_hp_255_g6_2hg83es_59ede863b3485_images_2289380227.jpg",
                            "https://i1.rozetka.ua/goods/10844856/hp_255_g6_2hg90es_images_10844856741.jpg",
                            "https://i2.rozetka.ua/goods/10844856/hp_255_g6_2hg90es_images_10844856333.jpg",
                            "$120"
                             )
    +product_exemple("000003"," Новый оригинальный GPD Pocket2 Мини ноутбук UMPC Windows 10 Процессор m3-8100y 8 ГБ", 
        /* наличие */   " В наличии",
                        " C_00003 ",
                        " BREND ",
                        " Ноутбуки ",
                        "Краткое описание единици товара и его характеристики ",
                        "Дополнительная информация.",
                             "img/computers/laptop/exemple_1/lp1.png",
                             "lp1",
                             "img/computers/laptop/exemple_1/min-lp2.png",
                             "img/computers/laptop/exemple_1/lp2.png",
                             "img/computers/laptop/exemple_1/min-lp3.png",
                             "img/computers/laptop/exemple_1/lp3.png",
                             "img/computers/laptop/exemple_1/min-lp4.png",
                             "img/computers/laptop/exemple_1/lp4.png",
                             "img/computers/laptop/exemple_1/min-lp5.png",
                             "img/computers/laptop/exemple_1/lp5.png",
                             "img/computers/laptop/exemple_1/min-lp1.png",
                             "img/computers/laptop/exemple_1/lp1.png",
                             "$120"
                              )
    h3 Мониторы                          
    +product_exemple("000004"," Монитор Accer_HA24YBID", 
        /* наличие */   " В наличии",
                        " C_00004_m ",
                        " ACER ",
                        " мониторы ",
                        "Краткое описание единици товара и его характеристики ",
                        "Дополнительная информация.",
                             "img/computers/monitors/acer_HA240YBID/acer_um_qw0ee_1.jpg",
                             "acer_um_qw0ee_1",
                             "img/computers/monitors/acer_HA240YBID/min-acer_um_qw0ee_2.jpg",
                             "img/computers/monitors/acer_HA240YBID/acer_um_qw0ee_2.jpg",
                             "img/computers/monitors/acer_HA240YBID/min-acer_um_qw0ee_3.jpg",
                             "img/computers/monitors/acer_HA240YBID/acer_um_qw0ee_3.jpg",
                             "img/computers/monitors/acer_HA240YBID/min-acer_um_qw0ee_4.jpg",
                             "img/computers/monitors/acer_HA240YBID/acer_um_qw0ee_4.jpg",
                             "img/computers/monitors/acer_HA240YBID/min-acer_um_qw0ee_5.jpg",
                             "img/computers/monitors/acer_HA240YBID/acer_um_qw0ee_5.jpg",
                             "img/computers/monitors/acer_HA240YBID/min-acer_um_qw0ee_1.jpg",
                             "img/computers/monitors/acer_HA240YBID/acer_um_qw0ee_1.jpg",
                             "$120"
                              )
