mixin content_private()
    +header("Компьютеры и комлектующие", "ЭЛЛЕКТРОНИКА")
    nav(class="main-menu")
        +navigator()
    .container(class="main-content")
        .row
            div(class="col-lg-3 col-md-3 col-sm-4 hidden-xs ")
                +left-sitebar()
            div(class="col-lg-7 col-md-6 col-sm-8  ")
                div(id="content-authorization")
                    +authorization
                .input_private    
                    a(href="private.html") Личный кабинет
                +private_edit()    
                +private()    
            div(class="col-lg-2 col-md-3 hidden-sm hidden-xs")
                +right-sitebar()
                +basket
    +footer
mixin private_edit()
    .private_edit
        h4 Редактирование данных
        form(name="date_edit" action="<?=$_SERVER['REQUEST_URI']?>" method="post")
            .date_edit
                p Ваше имя
                input(class="form-control" input="input" type="text" name="name" placeholder="имя")
            .date_edit
                p Ваша фамилия
                input(class="form-control" input="input" type="text" name="name" placeholder="Фамилия")
            .date_edit
                p Ваш e-mail
                input(class="form-control" input="input" type="text" name="name" placeholder="")
            .date_edit
                p Ваш телефон
                input(class="form-control" input="input" type="text" name="name" placeholder="")
            .date_edit
                p Ваш регион(область)
                input(class="form-control" input="input" type="text" name="name" placeholder="")
            .date_edit
                p Ваш район
                input(class="form-control" input="input" type="text" name="name" placeholder="")
            .date_edit
                p Ваш населенный пункт(село)
                input(class="form-control" input="input" type="text" name="name" placeholder="")
            .date_edit
                p Способ доставки
                    input(class="form-control" input="input" type="text" name="name" placeholder="")
            .date_edit
                p Номер почтового отделения
                input(class="form-control" input="input" type="text" name="name" placeholder="")
            .date_edit
                p Адрес почтового отделения
                input(class="form-control" input="input" type="text" name="name" placeholder="")
            .date_edit
                div
                    input(class="" type="submit" name="registration" value="Отправить данные") 
            
            
mixin private()
    .private
        h4 Личные данные
        p
            button Редактировать
        .row 
            .col-lg-5(class="private_segment col-md-5 col-sm-5 col-xs-5") Ваше имя
            .col-lg-5(class="private_segment col-md-5 col-sm-5 col-xs-5") Игорь
        .row 
            .col-lg-5(class="private_segment col-md-5 col-sm-5 col-xs-5") Фамилия
            .col-lg-5(class="private_segment col-md-5 col-sm-5 col-xs-5") Мороз
        .row 
            .col-lg-5(class="private_segment col-md-5 col-sm-5 col-xs-5") e-mail
            .col-lg-5(class="private_segment col-md-5 col-sm-5 col-xs-5") abcd@gmail.com
        .row 
            .col-lg-5(class="private_segment col-md-5 col-sm-5 col-xs-5") Телефон
            .col-lg-5(class="private_segment col-md-5 col-sm-5 col-xs-5") +38067 322 32 32
        .row 
            .col-lg-5(class="private_segment col-md-5 col-sm-5 col-xs-5") Регион
            .col-lg-5(class="private_segment col-md-5 col-sm-5 col-xs-5") 
        .row 
            .col-lg-5(class="private_segment col-md-5 col-sm-5 col-xs-5") Город
            .col-lg-5(class="private_segment col-md-5 col-sm-5 col-xs-5") 
        .row 
            .col-lg-5(class="private_segment col-md-5 col-sm-5 col-xs-5") Село
            .col-lg-5(class="private_segment col-md-5 col-sm-5 col-xs-5") 
        .row 
            .col-lg-5(class="private_segment col-md-5 col-sm-5 col-xs-5") Способ доставки
            .col-lg-5(class="private_segment col-md-5 col-sm-5 col-xs-5") +38067 322 32 32
        .row 
            .col-lg-5(class="private_segment col-md-5 col-sm-5 col-xs-5") Номер почтового отделения
            .col-lg-5(class="private_segment col-md-5 col-sm-5 col-xs-5") 
        .row 
            .col-lg-5(class="private_segment col-md-5 col-sm-5 col-xs-5") Адрес почтового отделения
            .col-lg-5(class="private_segment col-md-5 col-sm-5 col-xs-5") +38067 322 32 32
        p
            button Редактировать
