mixin content_consumer_el()
    +header("Компьютеры и комлектующие", "ЭЛЛЕКТРОНИКА")
    nav(class="main-menu")
        +navigator()
    .container(class="main-content")
        .row
            div(class="col-lg-3 col-md-3 col-sm-4 hidden-xs ")
                +left-sitebar()
            div(class="col-lg-7 col-md-6 col-sm-8  ")
                div(id="content-authorization")
                    +authorization
                .input_private    
                    a(href="private.html") Личный кабинет
                h2 Бытовая электротехника
                +category_navigator_consumer("Телевизоры",
                                        "Тюнеры"
                                                )
                +search_dir()
                +consumer_core
            div(class="col-lg-2 col-md-3 hidden-sm hidden-xs")
                +right-sitebar()
                +basket
    +footer
mixin consumer_core()
    h3 Телевизоры
    +product_exemple("000010","Телевизор Samsung QE55Q6FNAUXUA", 
    /* наличие */       " В наличии",
                        " CON_00001 ",
                        " Samsung ",
                        " Телевизоры ",
                        "Lorem ipsum dolor sit amet. Excepturi sint, obcaecati cupiditate non numquam eius   modi tempora incidunt, ut aliquid. ",
                        "Lorem ipsum dolor sit amet.  ",
                            "img/house_el/tv/exemple_1/samsung_ue55.jpg",
                            "big_1",
                            "img/house_el/tv/exemple_1/min-samsung_ue55_1.jpg",
                            "img/house_el/tv/exemple_1/samsung_ue55_1.jpg",
                            "img/house_el/tv/exemple_1/min-samsung_ue55_2.jpg",
                            "img/house_el/tv/exemple_1/samsung_ue55_2.jpg",
                            "img/house_el/tv//exemple_1/min-samsung_ue55_3.jpg",
                            "img/house_el/tv/exemple_1/samsung_ue55_3.jpg",
                            "img/house_el/tv/exemple_1/min-samsung_ue55_4.jpg",
                            "img/house_el/tv/exemple_1/samsung_ue55_4.jpg",
                            "img/house_el/tv/exemple_1/min-samsung_ue55.jpg",
                            "img/house_el/tv/exemple_1/samsung_ue55.jpg",
                            "$340"
                             )
    +product_exemple("000011","Телевизор Samsung QE55Q6FNAUXUA", 
    /* наличие */       " В наличии",
                        " CON_00002 ",
                        " Samsung ",
                        " Телевизоры ",
                        "Lorem ipsum dolor sit amet. Excepturi sint, obcaecati cupiditate non numquam eius   modi tempora incidunt, ut aliquid. ",
                        "Lorem ipsum dolor sit amet.  ",
                            "img/house_el/tv/exemple_1/samsung_ue55.jpg",
                            "big_1",
                            "img/house_el/tv/exemple_1/min-samsung_ue55_1.jpg",
                            "img/house_el/tv/exemple_1/samsung_ue55_1.jpg",
                            "img/house_el/tv/exemple_1/min-samsung_ue55_2.jpg",
                            "img/house_el/tv/exemple_1/samsung_ue55_2.jpg",
                            "img/house_el/tv//exemple_1/min-samsung_ue55_3.jpg",
                            "img/house_el/tv/exemple_1/samsung_ue55_3.jpg",
                            "img/house_el/tv/exemple_1/min-samsung_ue55_4.jpg",
                            "img/house_el/tv/exemple_1/samsung_ue55_4.jpg",
                            "img/house_el/tv/exemple_1/min-samsung_ue55.jpg",
                            "img/house_el/tv/exemple_1/samsung_ue55.jpg",
                            "$340"
                             )
    +product_exemple("000012","Телевизор Samsung QE55Q6FNAUXUA", 
    /* наличие */       " В наличии",
                        " CON_00003 ",
                        " Samsung ",
                        " Телевизоры ",
                        "Lorem ipsum dolor sit amet. Excepturi sint, obcaecati cupiditate non numquam eius   modi tempora incidunt, ut aliquid. ",
                        "Lorem ipsum dolor sit amet.  ",
                            "img/house_el/tv/exemple_1/samsung_ue55.jpg",
                            "big_1",
                            "img/house_el/tv/exemple_1/min-samsung_ue55_1.jpg",
                            "img/house_el/tv/exemple_1/samsung_ue55_1.jpg",
                            "img/house_el/tv/exemple_1/min-samsung_ue55_2.jpg",
                            "img/house_el/tv/exemple_1/samsung_ue55_2.jpg",
                            "img/house_el/tv//exemple_1/min-samsung_ue55_3.jpg",
                            "img/house_el/tv/exemple_1/samsung_ue55_3.jpg",
                            "img/house_el/tv/exemple_1/min-samsung_ue55_4.jpg",
                            "img/house_el/tv/exemple_1/samsung_ue55_4.jpg",
                            "img/house_el/tv/exemple_1/min-samsung_ue55.jpg",
                            "img/house_el/tv/exemple_1/samsung_ue55.jpg",
                            "$340"
                             )
    +product_exemple("000013","Телевизор Samsung QE55Q6FNAUXUA", 
    /* наличие */       " В наличии",
                        " CON_00004 ",
                        " Samsung ",
                        " Телевизоры ",
                        "Lorem ipsum dolor sit amet. Excepturi sint, obcaecati cupiditate non numquam eius   modi tempora incidunt, ut aliquid. ",
                        "Lorem ipsum dolor sit amet.  ",
                            "img/house_el/tv/exemple_1/samsung_ue55.jpg",
                            "big_1",
                            "img/house_el/tv/exemple_1/min-samsung_ue55_1.jpg",
                            "img/house_el/tv/exemple_1/samsung_ue55_1.jpg",
                            "img/house_el/tv/exemple_1/min-samsung_ue55_2.jpg",
                            "img/house_el/tv/exemple_1/samsung_ue55_2.jpg",
                            "img/house_el/tv//exemple_1/min-samsung_ue55_3.jpg",
                            "img/house_el/tv/exemple_1/samsung_ue55_3.jpg",
                            "img/house_el/tv/exemple_1/min-samsung_ue55_4.jpg",
                            "img/house_el/tv/exemple_1/samsung_ue55_4.jpg",
                            "img/house_el/tv/exemple_1/min-samsung_ue55.jpg",
                            "img/house_el/tv/exemple_1/samsung_ue55.jpg",
                            "$340"
                             )
    +product_exemple("000014","Телевизор Samsung QE55Q6FNAUXUA", 
    /* наличие */       " В наличии",
                        " CON_00005 ",
                        " Samsung ",
                        " Телевизоры ",
                        "Lorem ipsum dolor sit amet. Excepturi sint, obcaecati cupiditate non numquam eius   modi tempora incidunt, ut aliquid. ",
                        "Lorem ipsum dolor sit amet.  ",
                            "img/house_el/tv/exemple_1/samsung_ue55.jpg",
                            "big_1",
                            "img/house_el/tv/exemple_1/min-samsung_ue55_1.jpg",
                            "img/house_el/tv/exemple_1/samsung_ue55_1.jpg",
                            "img/house_el/tv/exemple_1/min-samsung_ue55_2.jpg",
                            "img/house_el/tv/exemple_1/samsung_ue55_2.jpg",
                            "img/house_el/tv//exemple_1/min-samsung_ue55_3.jpg",
                            "img/house_el/tv/exemple_1/samsung_ue55_3.jpg",
                            "img/house_el/tv/exemple_1/min-samsung_ue55_4.jpg",
                            "img/house_el/tv/exemple_1/samsung_ue55_4.jpg",
                            "img/house_el/tv/exemple_1/min-samsung_ue55.jpg",
                            "img/house_el/tv/exemple_1/samsung_ue55.jpg",
                            "$340"
                             )
