mixin content_registration
    +header("Компьютеры и комлектующие", "ЭЛЛЕКТРОНИКА")
    nav(class="main-menu")
        +navigator()
    .container(class="main-content")    
        .row 
            div(class="col-lg-3 col-md-3 col-sm-4 hidden-xs ")
                +left-sitebar()
            div(class="col-lg-7 col-md-6 col-sm-8  ")
                div(id="content-authorization")
                    +authorization
                .input_private    
                    a(href="private.html") Личный кабинет
                +registration        
            div(class="col-lg-2 col-md-3 hidden-sm hidden-xs")
                +right-sitebar()
                +basket
    +footer
