.main-content{
    p{
        font-style: italic;
        margin-top: 1%;
        margin-bottom: 2%;
    }
    h4{
        font-style: italic;
        text-align: center;
    }
}
.main_comp{
    margin-top: 2%;
    img{
        width: 100%;
        height: auto;
    }
}
.container{
    @media only screen and (min-width: 1440px){
    width: 90%;
    }
}
.input_private{
    text-align: right;
    margin-bottom: 2%;
    a{
        font-style: italic;
            color: chocolate;
    }
}
.basket{
    background-color: $content-bg-color;
    border: 1px solid $border-color-content;
    margin-top: 2%;
    margin-bottom: 2%;
        @media only screen and (max-width: 550px){
            padding-top: 2%;
            max-width: 60%;
            margin: 2% auto;
        }
}
.basket_title{
    @media only screen and (max-width: 550px){
        display: none;
}
}
.basket_exemple{
    display: inline-block;
    margin: 2px;
    background-color: white;
    text-align: center;
    width: 15%;
    @media only screen and (max-width: 550px){
        font-size: 12px;
        display: block;
        width: 50%;
        margin: 0 auto;
    }
    button{
        margin: 2% 0 2%;
    }
    a{
        margin: 2% 0 2%;
    }
    p{
        padding: 2%;
        input{
            max-width: 50%;
        }
    }
    img{
        @media only screen and (max-width: 550px){
            max-width: 50%;
        }
        width: 100%;
        height: auto;
    }
}
.basket_result{
    text-align: right;
    .basket_exemple{
        width: 22%;
        background-color: $content-bg-color;
    }
}
