mixin main_content
    .input_private    
        a(href="private.html") Личный кабинет
    h2 Интернет магазин электроники

    p Lorem ipsum dolor sit amet. Architecto beatae vitae dicta sunt, explicabo quod maxime. Ducimus, qui blanditiis praesentium voluptatum deleniti atque corrupti quos. Magni dolores eos, qui blanditiis praesentium voluptatum deleniti atque corrupti, quos dolores. Ipsum, quia consequuntur magni dolores eos, qui in. Commodi autem quibusdam et quas molestias. Alias consequatur aut fugit, sed ut. Id, quod maxime placeat, facere possimus omnis. Nesciunt, neque porro quisquam est, omnis iste natus error.
    h4 Компьютеры, ноутбуки и комплектующие к ним
    .main_comp
        a(href="#") 
            img(src="img/main/main_laptop.png" alt="main_laptop")
    h4 Телевизоры 
    p Laborum et dolorum fuga voluptatibus. Officia deserunt mollitia animi, id est eligendi. Sequi nesciunt, neque porro quisquam est, omnis dolor sit amet. Similique sunt in ea commodi autem vel eum fugiat. Quibusdam et harum quidem rerum. Illum, qui blanditiis praesentium voluptatum deleniti. Reprehenderit, qui blanditiis praesentium voluptatum deleniti atque corrupti quos.    
    .main_comp
        a(href="#")
            img(src="img/main/main_tv.jpg" alt="main_tv")
    h4 Бытовая электротехника 
    p Animi, id est eligendi optio, cumque nihil molestiae. Nulla vero eos et expedita distinctio vero. Libero tempore, cum soluta nobis. Similique sunt in culpa, qui dolorem ipsum. Animi, id est laborum et dolorum fuga quae ab illo. Amet, consectetur, adipisci velit, sed ut perspiciatis, unde omnis voluptas. Vero eos et iusto odio. Ab illo inventore veritatis et dolore.
    .main_comp
        a(href="#")
            img(src="img/main/main_washer.jpg" alt="main_washer")
    h4 Радиокомпоненты 
    p Animi, id est eligendi optio, cumque nihil molestiae. Nulla vero eos et expedita distinctio vero. Libero tempore, cum soluta nobis. Similique sunt in culpa, qui dolorem ipsum. Animi, id est laborum et dolorum fuga quae ab illo. Amet, consectetur, adipisci velit, sed ut perspiciatis, unde omnis voluptas. Vero eos et iusto odio. Ab illo inventore veritatis et dolore.
    .main_comp
        a(href="#")
            img(src="img/main/main_radiodetal.jpg" alt="main_radiodetal")
        
