.private{
    background-color: $content-bg-color;
    border: 1px solid $border-color-content;
    padding: 2%;
    padding-left: 9%;
    margin-bottom: 2%;
    @media only screen and (max-width: 500px){
        width: 100%;
    }
}
.private_segment{
    background-color: white;
    margin: 2%;
    font-style: italic;
    font-size: 1em;
    padding: 1%;
    height: 3em;
    border: 1px solid $border-color-content;
    @media only screen and (max-width: 500px){
        font-size: 11px;
    }
}
.private_edit{
    background-color: $content-bg-color;
    border: 1px solid $border-color-content;
    padding: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
    @media only screen and (max-width: 500px){
        width: 100%;
    }
//display: none;
}
.date_edit{
    div{
        text-align: right;
        padding: 2%;
    }
}
